@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 204, 229, 255;
  --background-end-rgb: 204, 229, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 204, 204;
    --background-end-rgb: 255, 204, 204;
  }
}
/* 
Vibrant Yellow: RGB(255, 204, 0)
Electric Green: RGB(0, 255, 0)
Secondary Accent Color:

Lighter shade of green: RGB(153, 255, 153) */

body {
  font-family: 'Share Tech Mono', monospace;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      transparent,
      transparent,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
